.header {
  max-width: 1440px;
  width: 100%;
  height: 667px;
  margin: 0 auto;
  background-color: blueviolet;
}

.header-logo {
  margin-left: 50px;
  margin-top: 50px;
  width: auto;
  height: 25.25px;
}

.header-presentation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  gap: 25px;
}

.header-presentation-wrapper h1 {
  font-family: "Anton", sans-serif;
  font-size: 2.75rem;
  color: #ffd15b;
  font-weight: 400;
  text-align: center;
  width: 750px;
}

.header-input-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 954px;
  width: 95%;
  height: 72px;
}

.header-input-wrapper input {
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 0px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  padding-left: 10px;
  padding-right: 75px;
  overflow: hidden;
}

.header-input-wrapper button {
  position: absolute;
  right: 1%;
  top: 12%;
  width: 51px;
  height: 52px;
  border-radius: 15px;
  border: 0;
  background-color: #1b1b1b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-input-wrapper button i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

main {
  margin: 0 auto;
  padding: 75px;
  max-width: 1290px;
  width: 100%;
  background-color: #ededed;
}

.main-filter-wrapper {
  display: flex;
  gap: 30px;
  max-width: 1440px;
}

.main-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}

.main-article-wrapper {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 380px;
  border-radius: 21px;
  background-color: white;
  padding-bottom: 50px;
  height: 731px;
  overflow: hidden;
  box-shadow: 0px 4px 34px 30px #0000000a;
}

.recipe-img {
  width: 100%;
  height: 253px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
  image-rendering: optimizeSpeed;
}

.recipe-title {
  font-family: "Anton", sans-serif;
  font-size: 1.125rem;
  font-weight: 400px;
  margin-left: 20px;
}

.recipe-wrapper,
.main-ingredient-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  width: 85%;
  margin-left: 20px;
  gap: 10px;
}

.recipe,
.ingredient {
  font-size: 0.75rem;
  font-weight: 400;
  color: #7a7a7a;
  text-transform: uppercase;
}

.recipe-description,
.ingredient-name {
  font-size: 0.875rem;
}

.ingredient-name {
  font-weight: 500;
}

.ingredient-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.ingredient-description-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  gap: 3px;
}

.ingredient-quantity {
  font-size: 0.875rem;
  color: #7a7a7a;
}

.div-preparation-time {
  position: absolute;
  background-color: #ffd15b;
  border-radius: 14px;
  padding: 5px 15px 5px 15px;
  right: 5%;
  top: 2%;
  font-size: 0.75rem;
  font-family: "Manrope", sans-serif;
}
